@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #fff 50%, #a17965 50%);
    color: #fff;

}

.container{
    box-shadow: 0px 0px 5px black;
    height: 265px;
    max-width: 410px;
    padding: 20px;
    background:#222 ;
    transition: height 0.2s ease;
    border-radius: 6px;
    
}
.container.active {
    height: 530px;
  }
header h1{
    font-size: 25px;
    font-weight: 450;

}
header p {
    margin-top: 5px;
    color: #aaa;
    font-size: 16px;
  }
.form{
    display: flex;
    flex-direction: column;
    
    margin: 20px 0 25px;;

}

.form :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.1s ease;
  }
.form input{
    font-size: 20px;
    padding: 0 10px;
    border: 1px solid #999;
    color: #fff;
    background: #333;  

}
/* .form input:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  } */

.form button{
    margin-top: 20px;
    background: linear-gradient(#e7e5e5 20%,#9a3d0f);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.form button:hover {
    filter: brightness(.9);
    
}
  
.form button:active {
    transform: scale(0.9);
}


.qr-code {
    opacity: 0;
    display: flex;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    border: 1px solid #ccc;
  }
  
 .active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
  }
  
.qr-code img {
    width: 170px;
  }

 